{% load humanize %}
{% load i18n %}
<div>
    <div class="mb-7">
        <div class="row align-items-center">
            <div class="col-md-4 my-2">
                <input
                    type="text"
                    class="form-control"
                    placeholder="Rechercher..."
                    unicorn:model.debounce.500ms="search_query"
                />
            </div>
            <div class="col-md-2 my-2">
                <select class="form-control" unicorn:model="cooperative_id">
                    <option value="">Coopératives</option>
                    {% for coop in cooperatives %}
                        <option value="{{ coop.id }}">{{ coop.nom }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-2 my-2">
                <select class="form-control" unicorn:model="district_id">
                    <option value="">Districts</option>
                    {% for district in districts %}
                        <option value="{{ district.id }}">{{ district.nom }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-2 my-2">
                <select class="form-control"  unicorn:model="region_id">
                    <option value="">Régions</option>
                    {% for region in regions %}
                        <option value="{{ region.id }}">{{ region.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-2 my-2">
                <input
                    type="text"
                    class="form-control"
                    placeholder="Culture"
                    unicorn:model="culture"
                />
            </div>
        </div>
    </div>

    <table class="table table-bordered table-hover">
    <thead style="background-color: #14532D; color: white">
        <tr class="align-center">
            <th>{% trans "UID CODE" %}</th>
            <th>{% trans "TÉLÉCHARGER" %}</th>
            <th>{% trans "NOM" %}</th>
            <th>{% trans "PRODUCTEUR" %}</th>
            <th>{% trans "LOCALITE" %}</th>
            <th>{% trans "DIMENSION (ha)" %}</th>
            <th>{% trans "DATE" %}</th>
{#            <th>{% trans "Cultures" %}</th>#}
            <th width="120px">{% trans "ACTIONS" %}</th>
        </tr>
    </thead>
    <tbody>
        {% for parcelle in parcelles %}
            <tr>
                <td>{{ parcelle.unique_id }}</td>
                <td>
                    {% if parcelle.polygone_kmz %}
                        <a href="{{ parcelle.polygone_kmz.url }}" class="btn btn-sm btn-outline-dark" download>
                            <i class="flaticon-multimedia-4"></i> {% trans "KMZ" %}
                        </a>
                    {% else %}
                        <span class="text-muted">{% trans "Aucun fichier" %}</span>
                    {% endif %}
                </td>
                <td>{{ parcelle.nom }}</td>
                <td>{{ parcelle.producteur.nom }} {{ parcelle.producteur.prenom }}</td>
                <td>{{ parcelle.localite.name }}</td>
                <td>{{ parcelle.dimension_ha|floatformat:0 }} {% trans "hectar(s)" %}</td>
                <td>{{ parcelle.created_at|naturalday }}</td>
{#                <td>#}
{#                    {% for item in parcelle.culture %}#}
{#                        <span class="label label-dark label-inline font-weight-normal mr-2 mt-2">{{ item.value }}</span>#}
{#                    {% empty %}#}
{#                        <span class="text-muted small">{% trans "Indéfini" %}</span>#}
{#                    {% endfor %}#}
{#                </td>#}
                <td>
                    <a href="{% url 'parcelle-detail' parcelle.pk %}" class="btn btn-icon btn-primary btn-xs"><i class="flaticon2-list-2"></i></a>
                    <a href="{% url 'parcelle-update' parcelle.pk %}" class="btn btn-icon btn-dark btn-xs"><i class="flaticon2-edit"></i></a>
                    <a href="{% url 'parcelle-delete' producteur_id=parcelle.producteur.id pk=parcelle.pk %}" class="btn btn-icon btn-danger btn-xs "><i class="flaticon2-trash"></i></a>
                </td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="9" class="text-center">{% trans "Aucune parcelle trouvée" %}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

    <!-- Pagination controls -->
    <nav>
        <ul class="pagination">
            <li class="page-item {% if page <= 1 %}disabled{% endif %}">
                <button class="page-link" unicorn:click="previous_page">Précédent</button>
            </li>
            {% for i in page_numbers %}
                <li class="page-item {% if page == i %}active{% endif %}">
                    <button class="page-link" unicorn:click="change_page({{ i }})">{{ i }}</button>
                </li>
            {% endfor %}
            <li class="page-item {% if page >= total_pages %}disabled{% endif %}">
                <button class="page-link" unicorn:click="next_page">Suivant</button>
            </li>
        </ul>
    </nav>
</div>

