{% load static %}
{% load unicorn %}
{% unicorn_scripts %}
{% load leaflet_tags %}
<!DOCTYPE html>
<html lang="fr-FR">
<!--begin::Head-->
<head>
    <base href="">
    <meta charset="utf-8"/>
    <title>AQ| Agriculture Tracer</title>
    <meta name="description" content="Updates and statistics"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <!--begin::Fonts-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700"/>
    <!--end::Fonts-->

    <!--begin::Page Vendors Styles(used by this page)-->
    <link href="{% static 'assets/plugins/custom/fullcalendar/fullcalendar.bundle.css' %}" rel="stylesheet" type="text/css"/>
    <!--end::Page Vendors Styles-->


    <!--begin::Global Theme Styles(used by all pages)-->
{#       <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>#}
    <link href="{% static 'assets/plugins/global/plugins.bundle.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'assets/plugins/custom/prismjs/prismjs.bundle.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'assets/css/style.bundle.css' %}" rel="stylesheet" type="text/css"/>
    <!--end::Global Theme Styles-->

    <!--begin::Layout Themes(used by all pages)-->
    <!--end::Layout Themes-->

    <link rel="shortcut icon" href="{% static 'assets/media/logos/favicon.ico' %}"/>
     <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>


 <script src="https://api.mapbox.com/mapbox-gl-js/v2.15.0/mapbox-gl.js"></script>
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.15.0/mapbox-gl.css" rel="stylesheet" />


</head>
<!--end::Head-->

<!--begin::Body-->
<body id="kt_body" class="header-fixed header-mobile-fixed page-loading bg-white">


<!--end::Header Mobile-->
<div class="d-flex flex-column flex-root">
    <!--begin::Page-->
    <div class="d-flex flex-row flex-column-fluid page">
        <!--begin::Wrapper-->
        <div class="d-flex flex-column flex-row-fluid wrapper" id="kt_wrapper">
            <!--begin::Header-->
            <div id="kt_header"   class="header  flex-column  header-fixed">
                <!--begin::Top-->
                <div class="header-top" style="background-color: #14532D;">
                    <!--begin::Container-->
                    <div class=" container ">
                        <!--begin::Left-->
                        <div class="d-none d-lg-flex align-items-center mr-3">
                            <!--begin::Logo-->
                            <a href="#" class="mr-20">
                                <img alt="Logo" src="{% static 'assets/media/logos/logo-trace-agri-new-white.png' %}" class="max-h-35px"/>
                            </a>
                            <!--end::Logo-->
                        </div>

                    </div>
                    <!--end::Container-->
                </div>

            </div>
            <!--end::Header-->

            <!--begin::Content-->
         {% block content %}

         {% endblock %}
            <!--end::Content-->


        </div>
        <!--end::Wrapper-->
    </div>
    <!--end::Page-->
</div>
<!--end::Main-->



<script>
    var KTAppSettings = {
        "breakpoints": {
            "sm": 576,
            "md": 768,
            "lg": 992,
            "xl": 1200,
            "xxl": 1200
        },
        "colors": {
            "theme": {
                "base": {
                    "white": "#ffffff",
                    "primary": "#0BB783",
                    "secondary": "#E5EAEE",
                    "success": "#1BC5BD",
                    "info": "#8950FC",
                    "warning": "#FFA800",
                    "danger": "#F64E60",
                    "light": "#F3F6F9",
                    "dark": "#212121"
                },
                "light": {
                    "white": "#ffffff",
                    "primary": "#D7F9EF",
                    "secondary": "#ECF0F3",
                    "success": "#C9F7F5",
                    "info": "#EEE5FF",
                    "warning": "#FFF4DE",
                    "danger": "#FFE2E5",
                    "light": "#F3F6F9",
                    "dark": "#D6D6E0"
                },
                "inverse": {
                    "white": "#ffffff",
                    "primary": "#ffffff",
                    "secondary": "#212121",
                    "success": "#ffffff",
                    "info": "#ffffff",
                    "warning": "#ffffff",
                    "danger": "#ffffff",
                    "light": "#464E5F",
                    "dark": "#ffffff"
                }
            },
            "gray": {
                "gray-100": "#F3F6F9",
                "gray-200": "#ECF0F3",
                "gray-300": "#E5EAEE",
                "gray-400": "#D6D6E0",
                "gray-500": "#B5B5C3",
                "gray-600": "#80808F",
                "gray-700": "#464E5F",
                "gray-800": "#1B283F",
                "gray-900": "#212121"
            }
        },
        "font-family": "Poppins"
    };
</script>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'assets/plugins/global/plugins.bundle.js' %}"></script>
<script src="{% static 'assets/plugins/custom/prismjs/prismjs.bundle.js' %}"></script>
<script src="{% static 'assets/js/scripts.bundle.js' %}"></script>
<script src="{% static 'assets/plugins/custom/fullcalendar/fullcalendar.bundle.js' %}"></script>
<script src="{% static 'assets/js/pages/widgets.js' %}"></script>
<script src="{% static 'assets/js/pages/crud/ktdatatable/base/html-table.js' %}"></script>
<script src="{% static 'assets/js/pages/crud/forms/widgets/tagify.js' %}"></script>


<!--end::Page Scripts-->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{% if messages %}
    {% for message in messages %}
        {% if message.tags == 'success' %}
            <script type="text/javascript">
                $(document).ready(function () {
                    Swal.fire({
                        title: "Félicitations !",
                        text: "{{ message|escapejs }}",
                        icon: "success",
                    });
                });
            </script>
        {% elif message.tags == 'warning' %}
            <script type="text/javascript">
                $(document).ready(function () {
                    Swal.fire({
                        title: "Attention !",
                        text: "{{ message|escapejs }}",
                        icon: "warning",
                    });
                });
            </script>
        {% elif message.tags == 'error' %}
            <script type="text/javascript">
                $(document).ready(function () {
                    Swal.fire({
                        title: "Erreur !",
                        text: "{{ message|escapejs }}",
                        icon: "error",
                    });
                });
            </script>
        {% endif %}
    {% endfor %}
{% endif %}
<script>
    // Class definition
    var KTSelect2 = function () {
        // Private functions
        var demos = function () {
            // basic
            $('#kt_select2_1').select2({
                placeholder: "Select a state"
            });
            
              $('#kt_select2_1_2').select2({
                placeholder: "Select a state"
            });


            // nested
            $('#kt_select2_2').select2({
                placeholder: "Select a state"
            });

            // multi select
            $('#kt_select2_3').select2({
                placeholder: "Select a state",
            });

            // basic
            $('#kt_select2_4').select2({
                placeholder: "Select a state",
                allowClear: true
            });

            // loading data from array
            var data = [{
                id: 0,
                text: 'Enhancement'
            }, {
                id: 1,
                text: 'Bug'
            }, {
                id: 2,
                text: 'Duplicate'
            }, {
                id: 3,
                text: 'Invalid'
            }, {
                id: 4,
                text: 'Wontfix'
            }];

            $('#kt_select2_5').select2({
                placeholder: "Select a value",
                data: data
            });

            // loading remote data

            function formatRepo(repo) {
                if (repo.loading) return repo.text;
                var markup = "<div class='select2-result-repository clearfix'>" +
                    "<div class='select2-result-repository__meta'>" +
                    "<div class='select2-result-repository__title'>" + repo.full_name + "</div>";
                if (repo.description) {
                    markup += "<div class='select2-result-repository__description'>" + repo.description + "</div>";
                }
                markup += "<div class='select2-result-repository__statistics'>" +
                    "<div class='select2-result-repository__forks'><i class='fa fa-flash'></i> " + repo.forks_count + " Forks</div>" +
                    "<div class='select2-result-repository__stargazers'><i class='fa fa-star'></i> " + repo.stargazers_count + " Stars</div>" +
                    "<div class='select2-result-repository__watchers'><i class='fa fa-eye'></i> " + repo.watchers_count + " Watchers</div>" +
                    "</div>" +
                    "</div></div>";
                return markup;
            }

            function formatRepoSelection(repo) {
                return repo.full_name || repo.text;
            }

            $("#kt_select2_6").select2({
                placeholder: "Search for git repositories",
                allowClear: true,
                ajax: {
                    url: "https://api.github.com/search/repositories",
                    dataType: 'json',
                    delay: 250,
                    data: function (params) {
                        return {
                            q: params.term, // search term
                            page: params.page
                        };
                    },
                    processResults: function (data, params) {
                        // parse the results into the format expected by Select2
                        // since we are using custom formatting functions we do not need to
                        // alter the remote JSON data, except to indicate that infinite
                        // scrolling can be used
                        params.page = params.page || 1;

                        return {
                            results: data.items,
                            pagination: {
                                more: (params.page * 30) < data.total_count
                            }
                        };
                    },
                    cache: true
                },
                escapeMarkup: function (markup) {
                    return markup;
                }, // let our custom formatter work
                minimumInputLength: 1,
                templateResult: formatRepo, // omitted for brevity, see the source of this page
                templateSelection: formatRepoSelection // omitted for brevity, see the source of this page
            });

            // custom styles

            // tagging support
            $('#kt_select2_12_1, #kt_select2_12_2, #kt_select2_12_3, #kt_select2_12_4').select2({
                placeholder: "Select an option",
            });

            // disabled mode
            $('#kt_select2_7').select2({
                placeholder: "Select an option"
            });

            // disabled results
            $('#kt_select2_8').select2({
                placeholder: "Select an option"
            });

            // limiting the number of selections
            $('#kt_select2_9').select2({
                placeholder: "Select an option",
                maximumSelectionLength: 2
            });

            // hiding the search box
            $('#kt_select2_10').select2({
                placeholder: "Select an option",
                minimumResultsForSearch: Infinity
            });

            // tagging support
            $('#kt_select2_11').select2({
                placeholder: "Add a tag",
                tags: true,
                tokenSeparators: [',', ' '],
                allowClear: true
            });

            // disabled results
            $('.kt-select2-general').select2({
                placeholder: "Select an option"
            });
        }

        var modalDemos = function () {
            $('#kt_select2_modal').on('shown.bs.modal', function () {
                // basic
                $('#kt_select2_1_modal').select2({
                    placeholder: "Select a state"
                });

                // nested
                $('#kt_select2_2_modal').select2({
                    placeholder: "Select a state"
                });

                // multi select
                $('#kt_select2_3_modal').select2({
                    placeholder: "Select a state",
                });

                // basic
                $('#kt_select2_4_modal').select2({
                    placeholder: "Select a state",
                    allowClear: true
                });
            });
        }

        // Public functions
        return {
            init: function () {
                demos();
                modalDemos();
            }
        };
    }();

    // Initialization
    jQuery(document).ready(function () {
        KTSelect2.init();
    });
</script>
</body>
</html>