{% load i18n %}
<div class="header-bottom">
    <!--begin::Container-->
    <div class=" container ">
        <!--begin::Header Menu Wrapper-->
        <div class="header-menu-wrapper header-menu-wrapper-left" id="kt_header_menu_wrapper">
            <!--begin::Header Menu-->
            <div id="kt_header_menu"
                 class="header-menu header-menu-left header-menu-mobile  header-menu-layout-default ">
                <!--begin::Header Nav-->
                <ul class="menu-nav ">
                    <li class="menu-item  menu-item-open menu-item-here menu-item-submenu menu-item-rel menu-item-open menu-item-here"
                        data-menu-toggle="hover" aria-haspopup="true"><a href="javascript:;" class="menu-link menu-toggle"><span
                            class="menu-text">{% translate 'Accueil' %}</span><span
                            class="menu-desc">{% trans "Apercu generale et statistics" %}</span><i
                            class="menu-arrow"></i></a>
                        <div class="menu-submenu menu-submenu-classic menu-submenu-left">
                            <ul class="menu-subnav">
                                <li class="menu-item  menu-item-active " aria-haspopup="true"><a
                                        href="{% url 'home' %}" class="menu-link "><span
                                        class="menu-text">{% trans "Dashboard" %}</span><span
                                        class="menu-desc"></span></a></li>
                                <li class="menu-item " aria-haspopup="true">
                                    <a  href="{% url 'landing' %}" class="menu-link "><span
                                            class="menu-text">{% trans "Landing Page" %}</span><span
                                            class="menu-desc"></span></a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="menu-item  menu-item-submenu menu-item-rel" data-menu-toggle="hover"
                        aria-haspopup="true"><a href="javascript:;" class="menu-link menu-toggle"><span
                            class="menu-text">{% trans "Producteurs" %}</span><span
                            class="menu-desc">{% trans "Producteurs & administrateurs" %} </span><i class="menu-arrow"></i></a>
                        <div class="menu-submenu menu-submenu-classic menu-submenu-left">
                            <ul class="menu-subnav">

                                <li class="menu-item " aria-haspopup="true">
                                    <a href="{% url 'producteurs-list' %}" class="menu-link "><span
                                            class="menu-text">{% trans "Liste des Producteurs" %}</span><span
                                            class="menu-desc"></span></a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="menu-item  menu-item-submenu menu-item-rel" data-menu-toggle="hover" aria-haspopup="true"><a href="javascript:;" class="menu-link menu-toggle">
                        <span class="menu-text">{% trans "Ressources" %}</span>
                        <span class="menu-desc">{% trans "Parcelles & Projets" %} </span><i class="menu-arrow"></i></a>
                        <div class="menu-submenu menu-submenu-classic menu-submenu-left">
                            <ul class="menu-subnav">
                                {#                                                     <li class="menu-item " aria-haspopup="true"><a href="#" class="menu-link "><span class="menu-text">Cartographie</span><span class="menu-desc"></span></a></li>#}
                                <li class="menu-item " aria-haspopup="true"><a href="{% url 'parcelle-list' %}" class="menu-link ">
                                    <span class="menu-text">{% trans "Parcelles" %}</span>
                                    
                                    <span class="menu-desc"></span></a>
                                </li>
                                <li class="menu-item " aria-haspopup="true">
                                    <a href="{% url 'project_list' %}" class="menu-link ">
                                        <span class="menu-text">{% trans "Projets" %}</span>
{#                                        <span class="badge badge-secondary ml">55</span>#}
                                        <span class="menu-desc"></span></a></li>
                                <li class="menu-item " aria-haspopup="true"><a href="{% url 'mobiledata_list' %}" class="menu-link ">
                                    <span class="menu-text">{% trans "Donnees d'enquêtes " %} </span>
{#                                    <span class="badge badge-success ml">55</span>#}
                                    <span class="menu-desc"></span></a>
                                </li>
                                {#                                                     <li class="menu-item " aria-haspopup="true"><a href="#" class="menu-link "><span class="menu-text">Cultures</span><span class="menu-desc"></span></a></li>#}

                            </ul>
                        </div>
                    </li>
                    <li class="menu-item  menu-item-submenu menu-item-rel" data-menu-toggle="hover" aria-haspopup="true"><a href="javascript:;" class="menu-link menu-toggle">
                        <span class="menu-text">{% trans "Organisation" %}</span>
                        <span class="menu-desc"> {% trans "Cooperative & evenements" %}</span><i class="menu-arrow"></i></a>
                        <div class="menu-submenu menu-submenu-classic menu-submenu-left">
                            <ul class="menu-subnav">
                                <li class="menu-item " aria-haspopup="true"><a href="{% url 'cooperative_list' %}" class="menu-link ">
                                    <span class="menu-text">{% trans "Coopératives" %}</span><span class="menu-desc"></span></a></li>
                                <li class="menu-item " aria-haspopup="true"><a href="{% url 'event_list' %}"
                                                                               class="menu-link "><span
                                        class="menu-text">{% trans "Evènements" %}</span><span class="menu-desc"></span></a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="menu-item menu-item-submenu" data-menu-toggle="hover" aria-haspopup="true">
                        <a href="javascript:;" class="menu-link menu-toggle">
                            <span class="menu-text">{% trans "Paramètres" %}</span>
                            <span class="menu-desc">{% trans "Configuration des données" %}</span>
                            <i class="menu-arrow"></i>
                        </a>
                        <div class="menu-submenu menu-submenu-fixed menu-submenu-center" style="width:1150px">
                            <div class="menu-subnav">
                                <ul class="menu-content">
                                    <!-- Sous-menu Configuration générale -->
                                    <li class="menu-item">
                                        <h3 class="menu-heading menu-toggle">
                                            <span class="menu-text">{% trans "Configuration générale" %}</span>
                                            <i class="menu-arrow"></i>
                                        </h3>
                                        <ul class="menu-inner">
                                            <li class="menu-item" aria-haspopup="true">
                                                <a href="#" class="menu-link">
                                                    <i class="menu-bullet menu-bullet-line"><span></span></i>
                                                    <span class="menu-text">{% trans "Utilisateurs" %}</span>
                                                </a>
                                            </li>
                                            <li class="menu-item" aria-haspopup="true">
                                                <a href="#" class="menu-link">
                                                    <i class="menu-bullet menu-bullet-line"><span></span></i>
                                                    <span class="menu-text">{% trans "Rôles" %}</span>
                                                </a>
                                            </li>
                                            <li class="menu-item" aria-haspopup="true">
                                                <a href="#" class="menu-link">
                                                    <i class="menu-bullet menu-bullet-line"><span></span></i>
                                                    <span class="menu-text">{% trans "Permissions" %}</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <!-- Sous-menu Gestion des données -->
                                    <li class="menu-item">
                                        <h3 class="menu-heading menu-toggle">
                                            <span class="menu-text">{% trans "Gestion des données" %}</span>
                                            <i class="menu-arrow"></i>
                                        </h3>
                                        <ul class="menu-inner">
                                            <li class="menu-item" aria-haspopup="true">
                                                <a href="#" class="menu-link">
                                                    <i class="menu-bullet menu-bullet-line"><span></span></i>
                                                    <span class="menu-text">{% trans "Producteur" %}</span>
                                                </a>
                                            </li>
                                            <li class="menu-item" aria-haspopup="true">
                                                <a href="#" class="menu-link">
                                                    <i class="menu-bullet menu-bullet-line"><span></span></i>
                                                    <span class="menu-text">{% trans "Cooperative" %}</span>
                                                </a>
                                            </li>
                                            <li class="menu-item" aria-haspopup="true">
                                                <a href="#" class="menu-link">
                                                    <i class="menu-bullet menu-bullet-line"><span></span></i>
                                                    <span class="menu-text">{% trans "Parcelles" %}</span>
                                                </a>
                                            </li>
                                            <li class="menu-item" aria-haspopup="true">
                                                <a href="{% url 'mobiledata_list' %}" class="menu-link">
                                                    <i class="menu-bullet menu-bullet-line"><span></span></i>
                                                    <span class="menu-text">{% trans "Donnees Mobiles" %}</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <!-- Sous-menu Rapports et analyses -->
                                    <li class="menu-item">
                                        <h3 class="menu-heading menu-toggle">
                                            <span class="menu-text">{% trans "Rapports et analyses" %}</span>
                                            <i class="menu-arrow"></i>
                                        </h3>
                                        <ul class="menu-inner">
                                            <li class="menu-item" aria-haspopup="true">
                                                <a href="#" class="menu-link">
                                                    <i class="menu-bullet menu-bullet-line"><span></span></i>
                                                    <span class="menu-text">{% trans "Tableaux de bord" %}</span>
                                                </a>
                                            </li>
                                            <li class="menu-item" aria-haspopup="true">
                                                <a href="#" class="menu-link">
                                                    <i class="menu-bullet menu-bullet-line"><span></span></i>
                                                    <span class="menu-text">{% trans "Statistiques" %}</span>
                                                </a>
                                            </li>
                                            <li class="menu-item" aria-haspopup="true">
                                                <a href="#" class="menu-link">
                                                    <i class="menu-bullet menu-bullet-line"><span></span></i>
                                                    <span class="menu-text">{% trans "Exportations" %}</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <!-- Sous-menu Erreurs et logs -->
                                    <li class="menu-item">
                                        <h3 class="menu-heading menu-toggle">
                                            <span class="menu-text">{% trans "Erreurs et logs" %}</span>
                                            <i class="menu-arrow"></i>
                                        </h3>
                                        <ul class="menu-inner">
                                            <li class="menu-item" aria-haspopup="true">
                                                <a href="errors/error-1.html" class="menu-link">
                                                    <i class="menu-bullet menu-bullet-line"><span></span></i>
                                                    <span class="menu-text">{% trans "Pages d'erreur" %}</span>
                                                </a>
                                            </li>
                                            <li class="menu-item" aria-haspopup="true">
                                                <a href="errors/logs.html" class="menu-link">
                                                    <i class="menu-bullet menu-bullet-line"><span></span></i>
                                                    <span class="menu-text">{% trans "Historique des logs" %}</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
                <!--end::Header Nav-->
            </div>
            <!--end::Header Menu-->
        </div>
        <!--end::Header Menu Wrapper-->
    </div>
    <!--end::Container-->
</div>